{% extends "base/index.html" %}

{% block content %}

<div class="width-full flex items-center justify-center mt-10">
  {% if form.errors %}
    <div class="bg-red-50 border-l-4 border-red-400 text-red-700 p-4 mb-4 rounded-md" role="alert">
      <p class="font-bold">There were some problems with your submission:</p>
      <ul class="mt-2 ml-4 list-disc list-inside">
        {% for field, errors in form.errors.items %}
          <li>
            <strong>{{ field|capfirst }}:</strong>
            {% for error in errors %}
              {{ error }}
            {% endfor %}
          </li>
        {% endfor %}
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>


<div class="width-full flex items-center justify-center mt-28">
  <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-2xl font-bold text-gray-700 text-center">Login</h2>
    <form class="mt-6" method='post'>
      {% csrf_token %}
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Email Address</label>
        <input 
          type="email" 
          id="email" 
          name="email" 
          placeholder="you@example.com"
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
          required>
      </div>
      <div class="mb-6">
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input 
          type="password" 
          id="password" 
          name="password" 
          placeholder="••••••••"
          class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
          required>
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          {{ form.captcha }}
        </div>
        <a href="#" class="text-sm text-blue-600 hover:underline ml-2">Forgot your password?</a>
      </div>
      
      <button 
        type="submit"
        class="w-full bg-blue-600 text-white py-2 px-4 rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 mt-4">
        Login
      </button>
    </form>
    <p class="text-center text-sm text-gray-600 mt-4">
      Don’t have an account? 
      <a href="{% url 'auth_app:register' %}" class="text-blue-600 hover:underline">Sign up</a>.
    </p>
  </div>
</div>
{% endblock %}